body {
    background: linear-gradient(to right, #F5F9FF, #cdd1d8);
    overflow-x: hidden;
    background-position: center;
}

.heading1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    color: gray;
    word-wrap: break-word;
    font-size: 2.3vw;
}

.para1 {
    text-align: center;
    width: 600px;
    color: gray;
    display: block;
    margin: auto auto;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    letter-spacing: 1px;
    text-decoration: solid;
    text-shadow: 0px 0px 15px #838c9d;
    font-size: 1vw;
}

.lable1 {
    width: 600px;
    color: gray;
    margin: auto auto;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-decoration: solid;
    text-shadow: 7px 4px 15px #838c9d;
    font-size: 1.3vw;
    margin-top: 57px;
    display: flex;
    align-items: center;
}

.input1 {
    margin: auto auto;
    display: flex;
    align-items: center;
    text-shadow: 3px -1px 6px rgb(82, 93, 104);
    font-family: monospace;
    letter-spacing: 3px;
    text-decoration: solid;
    margin-top: -8px;
    position: relative;
    left: -164px;
    color: rgb(82, 82, 82);
    width: 260px;
    background-color: transparent;
    padding: 2px 2px;
    border: transparent;
    border-bottom: 2px solid #cdd1d8;
    font-size: 1vw;
}

.input1:focus {
    outline: none;

}

.bt-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 4.5px 13px;
    color: black;
    text-transform: capitalize;
    position: relative;
    left: 650px;
    bottom: 31px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    background-color: white;
}

.bt-1:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
    text-decoration: underline;
}

.data {
    color: gray;
    margin: auto auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-decoration: solid;
    list-style: upper-roman;
    position: relative;
    bottom: 13px;
    left: 360px;
    text-transform: capitalize;
    margin-top: 6px;
}

.data:hover {
    text-decoration: line-through;
}

.lable2 {
    width: 600px;
    color: gray;
    margin: auto auto;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-decoration: solid;
    text-shadow: 7px 4px 15px #838c9d;
    font-size: 1.5vw;
    margin-top: -17px;
    display: flex;
    align-items: center;
}

.otp-1 {
    width: 600px;
    color: gray;
    margin: auto auto;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-decoration: solid;
    text-shadow: 7px 4px 15px #838c9d;
    font-size: medium;
    display: flex;
    align-items: center;
}

.select-1 {
    width: 100px;
    color: gray;
    margin: auto auto;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-decoration: solid;
    font-size: medium;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: transparent;
    position: relative;
    bottom: 40px;
    left: -181px;
    border-left: 2px solid #cdd1d8;

}

.select-1:focus {
    outline: transparent;
}


.lable3 {
    width: 600px;
    color: gray;
    margin: auto auto;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-decoration: solid;
    text-shadow: 7px 4px 15px #838c9d;
    font-size: medium;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 12px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.3vw;
}
